block title
    title= "Details"

block extrajavascripts
    if renderJs && !debug_mode
        != renderJs('details_page')
    else
        each script in js_resources.details_page
            script(type='text/javascript', src=script)

block extrastyles
    if renderStyles && !debug_mode
        != renderStyles('details_page')
    else
        each style in css_resources.details_page
            link(rel='stylesheet', href=style)

block content
    if (data)
        +detail_tables (sections, data)
    else
        +app_error("Data with ID: ", id)

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
