block extrajavascripts
    script(type='text/javascript').
        $(document).ready(function($){
            $("div.container > div.content").attr("id", "content")
        });

    script(type='text/javascript', src='http://www.eea.europa.eu/register_function.js')
    script(type='text/javascript', src='http://www.eea.europa.eu/nodeutilities.js')
    script(type='text/javascript', src='http://www.eea.europa.eu/mark_special_links.js')

block extrastyles
    link(rel="stylesheet", href="css/esbootstrap.facetview.css")

block title
    if (data)
        title= "Info for " + data.title.value
    else
        title= "Missing Info"

block content
    if (data)

        +portal_breadcrumbs ("esbootstrap", data.title.value)

        +detail_tables (sections, data)
    else
        +app_error("Data with ID: ", id)

    +visualization_info (visualization_info_url,visualization_info_text)
