block title
    title= site_title

block extrajavascripts
    script(type='text/javascript', src='javascripts/esbootstrap.facetview.js')

block extrastyles
    link(rel='stylesheet', href='css/no-more-tables.css')
    link(rel="stylesheet", href="css/esbootstrap.facetview.css")

block content
    +portal_breadcrumbs (breadcrumbs)
    h1= site_title
    p= site_description
    .facet-view-simple

    +visualization_info (visualization_info_url,visualization_info_text)
