block title
    title Elasticsearch bootstrap application

block extrajavascripts
    script(type='text/javascript', src='javascripts/esbootstrap.facetview.js')

block extrastyles
    link(rel='stylesheet', href='css/no-more-tables.css')
    link(rel="stylesheet", href="css/esbootstrap.facetview.css")

block content
    +portal_breadcrumbs ("esbootstrap")
    h1 Elasticsearch bootstrap application
    p Simple customizable bootstrap application
    .facet-view-simple

    +visualization_info ("http://www.eea.europa.eu/data-and-maps/daviz","ES bootstrap")

